@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto black';
    src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: 'Roboto light italic';
    src: url(../fonts/Roboto-LightItalic.ttf);
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
} 

nav{
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
}

.nav__item{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 0 5px;
}

.nav__item:hover{
    border-bottom: 1px solid #E5E7EB;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    display: start;
    font-weight: bold;
    padding-left: 80px;
}

.hero__section{
    background-color: #1F2937;
    display: flex;
    justify-content: center; 
    padding: 90px 0px;
}

.hero__container{
    padding: 0 40px;
    max-width: 400px;
}

.placeholder{
    width: 500px;
    height: auto;
}

.hero__img{
    width: 500px;
    height: auto;
}

.website__title{
    color:#F9FAF8;
    font-size: 48px;
    font-family: 'Roboto black';
}

.hero__description{
    color:#E5E7EB;
}

.btn{
    border-radius: 7px;
    padding: 5px 30px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.blue__theme{
    border: none;
    background-color: #3882F6;
    color: #E5E7EB;
    margin-top: 10px;
}

.blue__theme:hover{
    background-color: #3e8e41;
    color: white;
}

.transparent__theme{
    border: 2px solid #E5E7EB;
    background-color: transparent;
    color: #E5E7EB;
}

.transparent__theme:hover{
    border: 2px solid black;
    background-color: transparent;
    color: black;
}

.random__text{
    text-align: center;
    color: #1F2937;
    font-family: 'Roboto black';
    padding: 30px;
}

.card__deck{
    display: flex;
    justify-content: center;

}

.card{
    width: 150px;
    height: 200px;
    padding: 20px 20px 100px 20px;
}

.card__placeholder{
    border: 3px solid #3882F6;
    width: 140px;
    height: 140px;
    border-radius: 10px;
}

.card__text{
    color: #6d747d;
    text-align: center;
}

.quote{
    font-family: 'Roboto light italic';
    font-size: 36px;
    color: #1F2937;
}

.quote__container{
    width: 780px;
    padding: 80px 100px 0 100px;
}

.quote__author{
    padding-bottom: 80px;
    color: #1F2937;
    font-weight: bolder;
    text-align: end;
    font-size: 24px;
}

.container{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center; 
}

.action__container{
    background-color: #3882F6;
    width: 800px;
    padding: 40px 80px;
    display: flex;
    border-radius: 7px;
    justify-content: space-around;
}

.action__section{
    display: flex;
    justify-content: center; 
    padding: 80px 30px;
}

.action__text{
    color: #F9FAF8;
}

.action__text-smaller{
    color: #E5E7EB;
}
footer{
    background-color: #1F2937;
    text-align: center;
    padding: 30px;
    color: #E5E7EB;
}

.login__container{
    background-color: #1F2937;
    display: flex;
    justify-content: center; 
    
}

.login__container-small{
    background-color: #F9FAF8;
    padding: 60px;
    margin: 90px 0px 90px 30px;
    width: 400px;
    text-align: center;
    border-radius: 20px 0px 0px 20px;
}

.login__container-small-signup{
    background-color: #F6836B;
    padding: 30px;
    margin: 90px 30px 90px 0px;
    width: 250px;
    text-align: center;
    border-radius: 0px 20px 20px 0px;
}
input{
    display: block;
    margin: 10px 0px 10px 0px;
    width: 100%;
    height: 25px;
    border-radius: 10px;
    border: 1px solid #565d63;
    padding: 5px;
    background-color: #f0f1f2;
}

.btn-sign{

}